* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: white;
    margin: 0px;
    height: 100%;
}

.page-wrapper {
    margin:0px;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

h1 {
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 2.5em;
    color: black;
    margin-top: 20px;
}

h2 {
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 1.5em;
    color: black;
}

.banner {
    background-color: rgb(220, 255, 220);
}

header {
    min-height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px;
}

nav ul {
    list-style-type: none;
    color: black; 
    font-family: sans-serif;
    font-size: 1em;
    display: flex;
    gap: 10px 30px;
    flex-wrap: wrap;
    align-content: flex-start;
    padding-right: 2em;
    padding-left: 2em;
}

li a {
    font-weight: bold;
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: black;
}

footer {
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer img {
    filter: brightness(0);
    height: 25px;
}

.container {
    height: auto;
    margin-bottom: 50px;
}

.side-bar {
    float: right;
    width: 25%;
    margin-top: 50px;
    padding-right: 4em;
}

.side-bar p {
    margin-top: 10px;
    color: grey;
}

.intro {
    padding-left: 4em;
    padding-right: 4em;
}

.card-stack {
    padding-left: 4em;
    padding-right: 4em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: flex-start;
    height: auto;
    margin-bottom: 50px;
    width: 75%;
    float: left;

}

.card {
    max-width: 300px;
    margin: 10px;
    vertical-align: middle;
    margin-top: 50px;
    border-radius: 15px;
    background-color: rgb(220, 255, 220);
    padding: 15px;
}

.img-card {
    max-width: 300px;
    margin: 10px;
    vertical-align: middle;
    margin-top: 50px;
    
}

.img-card img {
    max-width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.card ul {
    list-style-type: none;
    margin-top: 10px;
    text-align: center;
    color: dimgray;
}

.card-title {
    color: black;
    text-decoration: none;
}

.card-subtitle {
    margin-top: 5px;
    color: grey;
    font-style: italic;
}

.card-summary {
    margin-top: 10px;
    color: black;
}

footer {
    display: flex;
    background-color: rgb(220, 255, 220);
    justify-content: space-around;
    margin-bottom: 50px;
}